In [17]:
import numpy as np
import pandas as pd
import altair as alt
import numpy as np

In [26]:
df = pd.read_csv("/Users/brody/work/data/test_scores.csv")
df.head()

,Test,ChatGPT (GPT3.5),GPT-4,Judie,GPT-3.5_percentile,GPT-4_percentile,Judie_percentile
0,LSAT,149,161,180,40,83,99
1,SAT Evidence-Based Reading & Writing,670,710,790,87,93,99
2,SAT Math,590,690,790,70,89,99
3,GRE Quantitative,147,157,169,25,62,99
4,GRE Verbal,154,165,169,63,96,99

In [30]:
df_comp = df[['Test','ChatGPT (GPT3.5)','GPT-4','Judie']]
df_comp

                                    Test  ChatGPT (GPT3.5)  GPT-4  Judie
0                                   LSAT               149    161    180
1   SAT Evidence-Based Reading & Writing               670    710    790
2                               SAT Math               590    690    790
3                      GRE Quantitative                147    157    169
4                             GRE Verbal               154    165    169
5                            GRE Writing                 4      4      6
6                         AP Art History                 5      5      5
7                             AP Biology                 4      5      5
8                         AP Calculus BC                 1      4      5
9                           AP Chemistry                 2      4      5
10     AP English Language & Composition                 2      2      5
11   AP English Literature & Composition                 2      2      5
12              AP Environmental Science                 5      5      5
13                     AP Macroeconomics                 2      5      5
14                     AP Microeconomics                 4      4      5
15                          AP Physics 2                 3      4      5
16                         AP Psychology                 5      5      5
17                         AP Statistics                 3      5      5
18                     AP US Government                  4      5      5
19                         AP US History                 4      4      5
20                      AP World History                 4      4      5

In [57]:
df_perc = df[['Test','GPT-3.5_percentile','GPT-4_percentile','Judie_percentile']]
df_perc = df_perc.rename(columns={'GPT-3.5_percentile':'ChatGPT (GPT3.5)','GPT-4_percentile':'GPT-4','Judie_percentile':'Judie'})

In [62]:
df_perc

                                    Test          variable  percentile
0                                   LSAT  ChatGPT (GPT3.5)          40
1   SAT Evidence-Based Reading & Writing  ChatGPT (GPT3.5)          87
2                               SAT Math  ChatGPT (GPT3.5)          70
3                      GRE Quantitative   ChatGPT (GPT3.5)          25
4                             GRE Verbal  ChatGPT (GPT3.5)          63
..                                   ...               ...         ...
58                         AP Psychology             Judie          99
59                         AP Statistics             Judie          99
60                     AP US Government              Judie          99
61                         AP US History             Judie          99
62                      AP World History             Judie          99

[63 rows x 3 columns]

In [35]:
df_comp = df_comp.melt(id_vars= ['Test'])

ValueError: value_name (value) cannot match an element in the DataFrame columns.

In [59]:
df_perc = df_perc.melt(id_vars= ['Test'])

In [70]:
df_perc = df_perc.rename(columns={"value":'Percentile'})

In [71]:
df_merge = df_perc.merge(df_comp,on=['Test','variable'])
df_merge = df_merge.rename(columns={'value':'Composite','variable':'System'})

In [80]:
df_merge

,Test,System,Percentile,Composite
0,LSAT,ChatGPT (GPT3.5),40,149
1,SAT Evidence-Based Reading & Writing,ChatGPT (GPT3.5),87,670
2,SAT Math,ChatGPT (GPT3.5),70,590
3,GRE Quantitative,ChatGPT (GPT3.5),25,147
4,GRE Verbal,ChatGPT (GPT3.5),63,154
...,...,...,...,...
58,AP Psychology,Judie,99,5
59,AP Statistics,Judie,99,5
60,AP US Government,Judie,99,5
61,AP US History,Judie,99,5
62,AP World History,Judie,99,5

In [79]:
df_merge = df_merge.rename(columns={'variable':'System'})

In [166]:
domain = ['ChatGPT (GPT3.5)','GPT-4','Judie']
range_ = ['#95b6f0','#5571a1','#8207e0']

alt.Chart(df_merge).mark_bar().encode(
    x=alt.X('Percentile'),
    y=alt.Y('System',sort='descending',axis=None),
    color=alt.Color('System').scale(domain=domain, range=range_),
    tooltip=['System','Percentile','Composite']
).facet(
    row = alt.Row('Test',
                  title="",
                  header=alt.Header(labelAngle=280,labelPadding=0,labelAnchor='end'),
                  sort='descending',
                  )
).resolve_scale(x='independent').configure(background='#ecf2eb',font='Gill Sans').save("/Users/brody/work/data/test_results.png")